# General
*                               @Andrews-McMeel-Universal/front-end-engineers-puzzle-society

# Front-end Engineering
**/*.{html,lock,js,jsx,ts}      @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**/*.{less,scss,sass,otf,eot}   @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**/*.{svg,jpg,jpeg,gif,png}     @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**/*.{css,woff*,ttf,ico,tsx}    @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
.{npm,nvm}rc                    @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
{yarn,Gemfile}.lock             @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
{Gemfile,package*.json}         @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
public/                         @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
src/                            @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
.storybook/                     @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
wp-content/                     @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
.browserslistrc                 @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**eslint**                      @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**jest**                        @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**prettier**                    @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
**stylelint**                   @Andrews-McMeel-Universal/front-end-engineers-puzzle-society
src/{src,amu,assets}/**         @Andrews-McMeel-Universal/front-end-engineers-puzzle-society

# Back-end Engineering
*.{cs,csproj,sln,rb,ru}         @Andrews-McMeel-Universal/back-end-engineers
*.Library/                      @Andrews-McMeel-Universal/back-end-engineers
*.Tests/                        @Andrews-McMeel-Universal/back-end-engineers
*.WebAPI/                       @Andrews-McMeel-Universal/back-end-engineers
*.UnitTests/                    @Andrews-McMeel-Universal/back-end-engineers
*.Models/                       @Andrews-McMeel-Universal/back-end-engineers

# DevOps
.github/                        @Andrews-McMeel-Universal/devops-engineers
deployments/                    @Andrews-McMeel-Universal/devops-engineers
*.ps1                           @Andrews-McMeel-Universal/devops-engineers
Secrets-example.json            @Andrews-McMeel-Universal/devops-engineers
Dockerfile                      @Andrews-McMeel-Universal/devops-engineers
docker-compose.yml              @Andrews-McMeel-Universal/devops-engineers
.nvmrc*                         @Andrews-McMeel-Universal/devops-engineers
